<h1>Pagina Login</h1>

<h2>Login con tu cuenta</h2>
<div class="signUp">
  <h4>tenes cuenta?</h4>
  <a href="signUp"> registrate</a>
</div>
<div id="github">
  <a href="/api/sessions/login-github">login con github</a>
  <h6> o con tu email y contraseña</h6>
</div>



<p>{{message}}</p>
<p>{{error}}</p>

<form method="post" action="/api/sessions/login">
  <input type="email" name="email" placeholder="Tu correo">
  <br/><br/>
  <input type="password" name="password" placeholder="Tu contraseña">
  <br/><br/>
  <button>Iniciar Sesion </button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>