<h1>Pagina Login</h1>

<p>{{message}}</p>
<p>{{error}}</p>

<form method="post" action="/api/sessions/Login">
  <input type="email" name="email" placeholder="Tu correo">
  <br/><br/>
  <input type="password" name="password" placeholder="Tu contraseña">
  <br/><br/>
  <button>Iniciar Sesion </button>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>