<h1>Restablece tu constrase単a</h1>

<p style="color: red;">{{error}}</p>


<p>Ingresa tu nueva constrase単a</p>

<form action="/api/sessions/reset-password?token={{token}}" method="post">
   <input type="password" placeholder="Nueva contrase単a" name="newPassword"/>
   <button>Restablecer contrase単a</button>
</form>