<h1>Pagina de registro</h1>

<div id="github">
  <a href="/api/sessions/signup-github">Signup con Github</a>
  <h6>o con tu email y contraseña</h6>
</div>

<p>{{error}}</p>


<form method="post" action="/api/sessions/singUp">
  <input type="text" name="firtsname" placeholder="Tu nombre">
  <br/><br/>
  <input type="email" name="email" placeholder="Tu correo">
  <br/><br/>
  <input type="password" name="password" placeholder="Tu contraseña">
  <br/><br/>
  <button>Registrarse</button>
</form>
<hr>

