<h1>Pagina de registro</h1>

<p>{{error}}</p>


<form method="post" action="/api/sessions/singUp">
  <input type="text" name="firtsname" placeholder="Tu nombre">
  <br/><br/>
  <input type="email" name="email" placeholder="Tu correo">
  <br/><br/>
  <input type="password" name="password" placeholder="Tu contraseña">
  <br/><br/>
  <button>Registrarse</button>
</form>
<hr>

