<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <a href="/">Login</a>
        <a href="/singUp">singUp</a>
        <a href="/profile">Profile</a>
        <a href="/index">index</a>
        <a href="/realtimeproducts"> Products real time</a>
        <a href="/chat"> Chat </a>
        <a href="/paginate"> Pagination</a>
        <a href="/cart"> Cart</a>
    </nav>
    {{{body}}}
</body>
</html>